@import 'base.css';

/*-------------------------------------------------
Nice Good Looking form
-------------------------------------------------*/
.form{
    margin-top: 60px;
}

.form h2{
    font-size: 24px;
    font-weight: 600;
}

.form p{
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
}

form{
    margin-top: 15px;
    width: 400px;
    font-size: 0;
}

textarea{
  margin-top: 20px;
  resize: none;
  height: 150px !important;
  padding-top: 5px;
}

input, textarea{
    width: 100%;
    height:50px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size:16px;
    font-weight: 400;
    color: #000;
    transition: all .25 ease-in-out;
}

form input+input{
    margin-top: 15px;
}

input:focus{
    border: 1px solid #61cafd;
}

input[type="reset"], input[type="submit"]{
    width:110px;
    height:46px;
    text-align:center;
    background-color: #fff;
    border: 1px solid #039be5;
    font-weight: 600;
    letter-spacing: .2;
    color:#039be5;
    cursor: pointer;
}

input[type="submit"]{
    margin-left: 15px;
    background-color: #039be5;
    color: #fff;
}

input[type="reset"]:hover{
    border-color: #038ed2;
    color: #038ed2;
}

input[type="submit"]:hover{
    background-color: #038ed2;
}

.buttons{
    text-align: right;
}

.img, .video, .audio, .youtube {
    margin-top: 60px;
    width: 600px;
  }
  
  figure, video, audio, iframe {
    margin-top: 10px;
    width: 100%;
  }
  
  img {
    margin-top: 12px;
    width: 100%;
  }
  
  .space {
    height: 120px;
  }
  
  p {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 17px;
  }
  
  p a {
    text-decoration: none;
    font-size: 17px;
    color: #0075eb;
  }
  
  .form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }


  p a:hover {
    text-decoration: underline;
  }
  
  .heading {
    margin-top: 60px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
  }
  
  .article-img {
    margin-top: 30px !important;
  }
  
  .date {
    text-align: center;
    font-size: 16px;
    color: #555;
  }
  
  .article-p {
    margin-top: 30px;
  }