/*-------------------------------------------
Form Styling
-------------------------------------------*/

.form-container h2{
    color: rgb(21, 26, 105);
}

#output-container{
    animation-duration: 0s;
}

.form-container{
    width: 350px;
}

main{
    padding:40px 0;
}

.fake-form h2{
    font-size: 24px;
    font-weight: 600;
}

iframe{
    margin-top:10px;
    flex-grow: 1;
}

.fake-form p{
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
}

.left-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fake-form{
    font-size: 0;
    width: 350px;
    max-width: 470px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


input, textarea{
    width: calc(100% - 120px);
    max-width: 350px;
    height:50px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 4px;
    font-size:16px;
    font-weight: 400;
    color: #000;
    transition: background-color .25s ease-in-out;
}

.output{
    width: 100%;
    height:50px;
    max-width: 350px;
    padding: 0 15px;
    background-color: #EEE;
    border-radius: 4px;
    font-size:16px;
    margin-top:10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output p, .output b{
    color: #000;
    text-align: center;
}

.fake-form input+input{
    margin-top: 10px;
}

input:focus, textarea:focus{
    border: 1px solid #222;
}

input[type="button"]{
    width:110px;
    height:50px;
    margin-left: 10px;
    text-align:center;
    border: 1px solid #222;
    font-weight: 600;
    letter-spacing: .2px;
    color:#FFF;
    cursor: pointer;
    background-color: #666992;
}

.dark-input{
    background-color: #222;
    color: white;
    border: 1px solid #FFF;
}

.dark-input:focus{
    border: 1px solid white;
}

.full-size-btn{
    width: 100% !important;
    max-width: 350px !important;
    margin-left: 0 !important;
}

.circle-input{
    border: 5px solid #2E2759;
    max-width: 350px !important;
    margin-left: 0 !important;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    font-size: 64px;
    text-align: center;
}

.circle-input:focus{
    border: 5px solid #273759;
}

.circle-input.dark-input:focus{
    border: 5px solid white;
}

::placeholder{
    color: black;
}

input[type="button"]{
    border: 1px solid #222;
}

input[type="button"]:hover{
    background-color: #707292;
    color: #000;
}

.buttons{
    text-align: left;
    margin-top: 15px;
}

.heading {
    text-align: center;
    font-size: min(calc(34px + (34 - 24) * ((100vw - 280px) / (1260 - 280))),34px);
    font-weight: 400;
    margin-bottom: 40px;
}

/*--------------------------
Alternative Contact Styling
--------------------------*/

.contact-container{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
}

.contact-text-container{
    margin: 15px 0;

}

.contact-text-container p{
    font-family: 'Nunito Sans Lighter', Lato, sans-serif;
}

.changeHeadings{
    text-align: center;
    margin-bottom: 10px;
}